@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #023c5e, #9ec4f8);
}

.calculator{
    padding: 20px;
    border-radius: 16px;
    background: #1F2833;
    box-shadow: 0px 3px 15px rgb(26 27 27 / 50%);

}

input{
    width: 320px;
    border-radius: 10px;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: -3px -2px 9px #bfbfbf8a;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 40%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -2px -2px 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover{
    background-color:#06AAFF ;
}
.equalBtn{
    background-color: #0041C2;
}
.equalBtn:hover{
    background-color: #ffffff;
    color: #0041C2;
}

.operator{
    color: #06AAFF;
}
.operator:hover{
    background-color: #bfbfbf8a;
}